{% extends "blog/base.html" %}
{% block title %}{{ article.title }} - {{ school.name }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block og_title %}{{ article.title }} - {{ school.name }}{% endblock %}
{% block og_description %}{{ meta_description }}{% endblock %}
{% block twitter_title %}{{ article.title }} - {{ school.name }}{% endblock %}
{% block twitter_description %}{{ meta_description }}{% endblock %}
{% block content %}
    {% include "blog/partial/detail/article.html" %}
{% endblock %}
