{% extends "core/base.html" %}
{% load static %}
{% block title %}Artikel{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/article.css' %}">
{% endblock %}
{% block content %}
    {% include "core/base/breadcrumb.html" %}
    <div class="page-header">
        <div>
            <h2 class="page-title">Daftar Artikel</h2>
            <p class="page-subtitle">Kelola artikel Anda</p>
        </div>
        <a href="{% url 'core:article_create' %}" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i> Buat Artikel
        </a>
    </div>
    {% include "core/article/table.html" %}
    {% include "core/base/pagination.html" %}
{% endblock %}
